<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      src="../../../assets/portrait -1.png"
      class="img-fluid"
      id="portrait1"
    />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Jorge Varela</p>
    <p>Full Stack Developer Jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        numquam dolore, explicabo, quas tenetur est fugit officia mollitia fuga
        enim officiis, praesentium accusantium earum eaque blanditiis!
        Exercitationem dolorem ab nisi.
      </p>
    </span>
  </div>
</div>
