<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="class col-lg-1"></div>
  <div class="class col-lg-11">
    <ul>
        <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
        <p>Lorem ipsum dolor sit, amet    consectetur adipisicing elit.  Qui dolor ut
        error, porro eaque quisquam   numquam non earum dolore,     aliquid ipsa
        minima officiis fugiat tempora    recusandae eligendi ratione    odio
        repellendus.</p>
    </ul>
    <ul>
        <li><h1>Trabajo 2</h1> - <h3>(years)</h3></li>
        <p>Lorem ipsum dolor sit, amet    consectetur adipisicing elit.  Qui dolor ut
        error, porro eaque quisquam   numquam non earum dolore,     aliquid ipsa
        minima officiis fugiat tempora    recusandae eligendi ratione    odio
        repellendus.</p>
    </ul>
    <ul>
        <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
        <p>Lorem ipsum dolor sit, amet    consectetur adipisicing elit.  Qui dolor ut
        error, porro eaque quisquam   numquam non earum dolore,     aliquid ipsa
        minima officiis fugiat tempora    recusandae eligendi ratione    odio
        repellendus.</p>
    </ul>
  </div>
</div>
